@import '../App.scss';

.input {
    display: flex;
    align-items: center;
    width: 42vmax;
    height: 44px;
    margin: 14px auto 25px;
    background-size: 25px;
    padding-left: 30px;
    border-radius: 20px;
    border: 2px solid #F2EBEF;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    outline: none;
}
