@import '../App.scss';

.SideLinks {
    display: flex;
    flex-direction:row;
    align-items: center;
    background: transparent;
    opacity: 0.5;
    cursor: pointer;
    &:hover{
        opacity: 1;
        svg, p {
            color: $active-color;
            stroke: $active-color;
            fill: $active-color;
        }
    }
    &:active{        
		position:relative;
		top:1px;
    }
    svg {
        width: 18px;
        height: 18px;
        margin: 0px 15px 0px 24px;
        fill: $font-color;
        stroke: $font-color;
		stroke-width: 0.3;
    }
    p {
        color: $font-color;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        margin: 13px 0px;
    }
}
